@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;

}

body {
    background-image: url(wp1822750-rick-and-morty-wallpapers.png);
    background-attachment: fixed;
}

.mainTitle {
    justify-content: center;
    margin: auto;
    color: #1b3c26 ;
    box-shadow: 0px 5px 20px;

}

.title {
    font-family: 'Rubik Glitch', cursive;
    font-weight:normal;
    text-align: center;
    color: aqua;
}

.subtitle {
    font-family: 'Rubik Glitch', cursive;
    font-weight: lighter;
    text-align: center;
    color:aquamarine;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 300px;
    gap: 0px 10px;
    align-items: center;
    justify-content: center;
    columns: 300px 3;
}

.card {
    text-align: center;
    background-color: #63be4f;
    margin: 1em;
    border-radius: 1rem;
    box-shadow: 3px 15px 15px 5px #000000;
}

.card img {
    margin: 10px;
    border-radius: 3px;
}

.card:hover{
    text-align: center;
    background-color: #328a1f;
    margin: 1em;
    border-radius: 1rem;
    box-shadow: 20px 15px 5px 5px #000000;
    transition: 0.2s;
    filter: brightness(95%);

}


div#form {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: fit-content;
    box-shadow: 3px 1px 5px rgb(75,210,35);
    border-color: rgb(75,210,35);
}

button {
    border-radius: 2px;
    border-color: rgb(75,210,35);
    background-color: rgb(75,210,35);
    color: white;
}

.mainTitle img {
    display: flex;
    max-width: 300px;
    max-height: 150px;
    margin: auto;
    margin-bottom: -30px;
}
