body {
    background-color: black;
}

.content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    gap: 0px 10px;

}

.card {
    text-align: center;
    background-color: rgb(12, 88, 24);
    margin: 1em;
    border-radius: 10px;
}

div#form {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: fit-content;
    box-shadow: 3px 1px 5px rgb(75,210,35);
    border-color: rgb(75,210,35);
}

button {
    border-radius: 2px;
    border-color: rgb(75,210,35);
    background-color: rgb(75,210,35);
    color: white;
}