body {
    background-color: #1b1c3c;
}

.content {
    display: flex;
    gap: 0px 10px;
    flex-wrap: wrap;

}

.card {
    text-align: center;
    background-color: #63be4f;
    margin: 1em;
    border-radius: 1rem;
}

div#form {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: fit-content;
    box-shadow: 3px 1px 5px rgb(75,210,35);
    border-color: rgb(75,210,35);
}

button {
    border-radius: 2px;
    border-color: rgb(75,210,35);
    background-color: rgb(75,210,35);
    color: white;
}

img {
    margin: 20px;
}